.content{
    padding-top: 10px;
}
.action{
    padding: 0px 25px 20px;
    button{
        flex: 1;
    }
}
  .space { 
   margin-top: 20px;
  }
  .mat-form-field {
    width: 100%;
  }
  .custom-card {
    width: 600px;
    padding: 16px;
  }
  .added-formula {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 8px;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .formula-row{
    width: 100%;
  }
  .full-width-input {
    width: 100%;
  }