.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   /* Set the desired height for the container */
  }
   .main-body{
    padding-top: 20px;
    margin: 0,auto;
    max-width: 1248px;
    mat-form-field{
        width: 100%;
    }
}
.example-spacer{
    flex: 1 1 auto;
}

  
mat-card {
    width: calc(33% - 20px);
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  .mat-progress-bar {

    position: relative;
  }
  .mat-bar{
    width: 50%; /* Set the desired width for the progress bar */
    margin: 0% 20%; 
    align-content: baseline;
    /* Set the desired margin on both left and right sides */
  }
  .percentage-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 4px;
    margin-top: 90%;
    background-color: rgba(36, 1, 96, 0.8);
    border-radius: 4px;
  }
  
  

  

  
  