<div class="btn">
    <button mat-fab extended color="accent"
   (click)="riskScoreLevelForm()">Add Risk Score Level</button>
  </div>
  
  <div class="main-body">
    <div class="card-container" *ngIf="dataSource?.data" [@cardAnimation]="dataSource.data.length">
      <mat-card *ngFor="let row of dataSource.data" >
        <mat-card-header>
          <mat-card-content  class="content">
            <mat-card-title class="title">Level :</mat-card-title>
            <mat-card-subtitle>{{ row.level }}</mat-card-subtitle>
            <mat-card-title class="title">Min Score :</mat-card-title>
            <mat-card-subtitle>{{ row.minScore }}</mat-card-subtitle>
            <mat-card-title class="title">Max Score :</mat-card-title>
            <mat-card-subtitle>{{row.maxScore }}</mat-card-subtitle>
          </mat-card-content>
        </mat-card-header>
        <mat-card-actions>
          <button mat-icon-button color="primary" (click)="openEditRiskScoreLevelForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteRiskScoreLevel(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
  
  